<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.TblriderMapper">
    <!-- 查询骑手信息 -->
    <select id="findRider" resultType="com.cykj.bean.Tblrider">
        select * from tblrider where riderstate != 6 and ridertel = #{ridertel}
    </select>

    <!-- 骑手登录 -->
    <select id="login" resultType="com.cykj.bean.Tblrider">
        select * from tblrider where ridertel = #{ridertel} and riderpwd = #{riderpwd}
    </select>
    <!--验证电话是否重复-->
    <select id="checkTel" resultType="com.cykj.bean.Tblrider">
        select * from  tblrider where ridertel = #{ridertel}
    </select>

    <!-- 查询骑手今日订单数 -->
    <select id="findOrderNum" resultType="long">
        select COUNT(*) as count from tblrider r
        inner join tblorder o on o.riderid = r.riderid
        where r.riderid = #{riderid} and r.roleid = 2
        and o.ordertime BETWEEN #{starttime} and #{endtime}
    </select>

    <!-- 查询骑手已完成的订单 -->
    <select id="findOrderFinish" resultType="com.cykj.bean.Tblorder">
        select * from tblorder o
        inner join tblrider r on r.riderid = o.riderid
        inner join tblrecaddress a on a.addressid = o.addressid
        where o.riderid = #{riderid} and o.orderstate = 32
    </select>

    <!-- 查询已取消单 -->
    <select id="findOrderCancel" resultType="com.cykj.bean.Tblorder">
        select * from tblorder o
        inner join tblrider r on r.riderid = o.riderid
        inner join tblrecaddress a on a.addressid = o.addressid
        where o.riderid = #{riderid} and o.orderstate in (76,77)
    </select>

</mapper>