<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.TblriderMapper">
    <!-- 查询骑手信息 -->
    <select id="findRider" resultType="com.cykj.bean.Tblrider">
        select * from tblrider where riderstate != 6 and riderid = #{riderid}
    </select>

    <!-- 骑手登录 -->
    <select id="login" resultType="com.cykj.bean.Tblrider">
        select * from tblrider where ridertel = #{ridertel} and riderpwd = #{riderpwd}
    </select>
    <!--验证电话是否重复-->
    <select id="checkTel" resultType="com.cykj.bean.Tblrider">
        select * from  tblrider where ridertel = #{ridertel}
    </select>

    <!--骑手注册-->
    <insert id="enroll" >
        insert into tblrider(ridertel,riderpwd,roleid,riderstate,auditstate)
            values (#{ridertel},#{riderpwd},2,'5','14')
    </insert>

    <!--修改密码-->
    <update id="updPwd">
        update tblrider set riderpwd = #{riderpwd} where ridertel = #{ridertel}
    </update>

    <!-- 查询骑手今日订单数 -->
    <select id="findOrderNum" resultType="long">
        select COUNT(*) as count from tblrider r
        inner join tblorder o on o.riderid = r.riderid
        where r.riderid = #{riderid} and r.roleid = 2
        and o.ordertime BETWEEN #{starttime} and #{endtime}
    </select>

    <!-- 查询骑手已完成的订单 -->
    <select id="findOrderFinish" resultType="com.cykj.bean.Tblorder">
        select * from tblorder o
        inner join tblrider r on r.riderid = o.riderid
        inner join tblrecaddress a on a.addressid = o.addressid
        inner join tblshop s on s.shopid = o.shopid
        where o.riderid = #{riderid} and o.orderstate = 32
    </select>

    <!-- 查询已取消单 -->
    <select id="findOrderCancel" resultType="com.cykj.bean.Tblorder">
        select * from tblorder o
        inner join tblrider r on r.riderid = o.riderid
        inner join tblrecaddress a on a.addressid = o.addressid
        inner join tblshop s on s.shopid = o.shopid
        where o.riderid = #{riderid} and o.orderstate in (76,77)
    </select>

    <!-- 查询骑手累计收入 -->
    <select id="findMoney" resultType="double">
        select SUM(deliveryfee) from tblorder where riderid = #{riderid} and orderstate = 32
    </select>
    <!-- 更新骑手收入 -->
    <update id="updateMoney">
        update tblrider set balance = #{balance} where riderid = #{riderid}
    </update>

    <!-- 查询订单 -->
    <select id="findOrder" resultType="com.cykj.bean.Tblorder">
        SELECT * FROM tblorder o
                              INNER JOIN tblshop b ON o.shopid = b.shopid
                              INNER JOIN tblstate c ON o.orderstate = c.stateid
                              INNER JOIN tblrecaddress d ON d.addressid = o.addressid
                              INNER JOIN tblrider f ON f.riderid = o.riderid
        where o.riderid = #{riderid} and o.orderid = #{orderid}
    </select>
    <!-- 查询订单中的商品 -->
    <select id="findOrderDetail" resultType="com.cykj.bean.Tblgoods">
        SELECT * FROM tblorder a
                              INNER JOIN tblbuygoods b ON a.orderid = b.orderid
                              INNER JOIN tblgoods c ON b.goodsid = c.goodsid
        where a.orderid = #{orderid}
    </select>

</mapper>